<h1>Журнал</h1>
<ul>
  <% @journal_recs.each do |journal_rec| %>
    <li>
      <a href="/journal/<%= journal_rec.id%>">
        Прізвище: <%= journal_rec.surname %>
      </a>
      Середня оцінка: <%= journal_rec.average %>
    </li>
  <% end %>
</ul>
